@font-face
    font-family: 'Futura PT Heavy'
    src: url('../fonts/FuturaPTHeavy.woff') format('woff')
    font-style:   normal
    font-weight:  400

@font-face
    font-family: 'Futura PT Bold'
    src: url('../fonts/FuturaPTBold.woff') format('woff')
    font-style:   normal
    font-weight:  700

@font-face
    font-family: 'Intro Book'
    src: url('../fonts/Intro-Book.woff') format('woff')
    font-style:   normal
    font-weight:  400
