mixin news-block(news)
	+b.news-block&attributes(attributes)
	
		.news-image
			img(src="assets/images/news-image.jpg")
		
		.news-content
			.news-date 14 августа 2016
			.news-text ЭкзоАтлет представляет экзоскелет президенту РФ Владимиру Путину на Форуме Агенства Стратегических Инициатив
			.news-more Больше новостей
		
		
		block
